<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="accommodation">
      <h2 data-cy="accommodationDetailsHeading"><span>Accommodation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ accommodation.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ accommodation.title }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ accommodation.type }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ accommodation.status }}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
          <span *ngFor="let room of accommodation.rooms; let last = last">
            <a [routerLink]="['/room', room?.id, 'view']">{{ room.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/accommodation', accommodation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
