<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="room">
      <h2 data-cy="roomDetailsHeading"><span jhiTranslate="testRoomApp.room.detail.title">Room</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ room.id }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rTitle">R Title</span></dt>
        <dd>
          <span>{{ room.rTitle }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rType">R Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.RoomType.' + room.rType }}">{{ room.rType }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rAcreage">R Acreage</span></dt>
        <dd>
          <span>{{ room.rAcreage }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rSize">R Size</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.RoomSize.' + room.rSize }}">{{ room.rSize }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rImage">R Image</span></dt>
        <dd>
          <div *ngIf="room.rImage">
            <a (click)="openFile(room.rImage, room.rImageContentType)">
              <img [src]="'data:' + room.rImageContentType + ';base64,' + room.rImage" style="max-width: 100%" alt="room image" />
            </a>
            {{ room.rImageContentType }}, {{ byteSize(room.rImage) }}
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.rPrice">R Price</span></dt>
        <dd>
          <span>{{ room.rPrice }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.room.accommodation">Accommodation</span></dt>
        <dd>
          <div *ngIf="room.accommodation">
            <a [routerLink]="['/accommodation', room.accommodation?.id, 'view']">{{ room.accommodation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/room', room.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
