<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span jhiTranslate="testRoomApp.customer.detail.title">Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.email">Email</span></dt>
        <dd>
          <span>{{ customer.email }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.phone">Phone</span></dt>
        <dd>
          <span>{{ customer.phone }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.birth">Birth</span></dt>
        <dd>
          <span>{{ customer.birth }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.gender">Gender</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.Gender.' + customer.gender }}">{{ customer.gender }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.user">User</span></dt>
        <dd>
          <span>{{ customer.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.name">Name</span></dt>
        <dd>
          <div *ngIf="customer.name">
            <a [routerLink]="['/name', customer.name?.id, 'view']">{{ customer.name?.displayName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.customer.property">Property</span></dt>
        <dd>
          <div *ngIf="customer.property">
            <a [routerLink]="['/property', customer.property?.id, 'view']">{{ customer.property?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
