<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span>Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ product.title }}</span>
        </dd>
        <dt><span>Keywords</span></dt>
        <dd>
          <span>{{ product.keywords }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ product.price }}</span>
        </dd>
        <dt><span>Product Size</span></dt>
        <dd>
          <span>{{ product.productSize }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="product.image">
            <a (click)="openFile(product.image, product.imageContentType)">
              <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-width: 100%" alt="product image" />
            </a>
            {{ product.imageContentType }}, {{ byteSize(product.image) }}
          </div>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
          <span>{{ product.rating }}</span>
        </dd>
        <dt><span>Date Added</span></dt>
        <dd>
          <span>{{ product.dateAdded | formatMediumDate }}</span>
        </dd>
        <dt><span>Date Modified</span></dt>
        <dd>
          <span>{{ product.dateModified | formatMediumDate }}</span>
        </dd>
        <dt><span>Wish List</span></dt>
        <dd>
          <div *ngIf="product.wishList">
            <a [routerLink]="['/wish-list', product.wishList?.id, 'view']">{{ product.wishList?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
