<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="property">
      <h2 data-cy="propertyDetailsHeading"><span>Property</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ property.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ property.title }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ property.type }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ property.status }}</span>
        </dd>
        <dt><span>Is Urgent</span></dt>
        <dd>
          <span>{{ property.isUrgent }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="property.address">
            <a [routerLink]="['/address', property.address?.id, 'view']">{{ property.address?.street }}</a>
          </div>
        </dd>
        <dt><span>Accommodation</span></dt>
        <dd>
          <div *ngIf="property.accommodation">
            <a [routerLink]="['/accommodation', property.accommodation?.id, 'view']">{{ property.accommodation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/property', property.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
