<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="property">
      <h2 data-cy="propertyDetailsHeading"><span jhiTranslate="testRoomApp.property.detail.title">Property</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ property.id }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.title">Title</span></dt>
        <dd>
          <span>{{ property.title }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.PropertyType.' + property.type }}">{{ property.type }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.PropertyStatus.' + property.status }}">{{ property.status }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.isUrgent">Is Urgent</span></dt>
        <dd>
          <span>{{ property.isUrgent }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.address">Address</span></dt>
        <dd>
          <div *ngIf="property.address">
            <a [routerLink]="['/address', property.address?.id, 'view']">{{ property.address?.street }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.accommodation">Accommodation</span></dt>
        <dd>
          <div *ngIf="property.accommodation">
            <a [routerLink]="['/accommodation', property.accommodation?.id, 'view']">{{ property.accommodation?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.project">Project</span></dt>
        <dd>
          <div *ngIf="property.project">
            <a [routerLink]="['/project', property.project?.id, 'view']">{{ property.project?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.land">Land</span></dt>
        <dd>
          <div *ngIf="property.land">
            <a [routerLink]="['/land', property.land?.id, 'view']">{{ property.land?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/property', property.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
