<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="property">
      <h2 data-cy="propertyDetailsHeading"><span jhiTranslate="testRoomApp.property.detail.title">Property</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ property.id }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.title">Title</span></dt>
        <dd>
          <span>{{ property.title }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.PropertyType.' + property.type }}">{{ property.type }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'testRoomApp.PropertyStatus.' + property.status }}">{{ property.status }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.image">Image</span></dt>
        <dd>
          <div *ngIf="property.image">
            <a (click)="openFile(property.image, property.imageContentType)">
              <img [src]="'data:' + property.imageContentType + ';base64,' + property.image" style="max-width: 100%" alt="property image" />
            </a>
            {{ property.imageContentType }}, {{ byteSize(property.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.isUrgent">Is Urgent</span></dt>
        <dd>
          <span>{{ property.isUrgent }}</span>
        </dd>
        <dt><span jhiTranslate="testRoomApp.property.user">User</span></dt>
        <dd>
          <span>{{ property.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/property', property.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
