<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-room-heading" data-cy="RoomCreateUpdateHeading" jhiTranslate="testRoomApp.room.home.createOrEditLabel">
        Create or edit a Room
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rTitle" for="field_rTitle">R Title</label>
          <input type="text" class="form-control" name="rTitle" id="field_rTitle" data-cy="rTitle" formControlName="rTitle" />
          <div *ngIf="editForm.get('rTitle')!.invalid && (editForm.get('rTitle')!.dirty || editForm.get('rTitle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rTitle')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rType" for="field_rType">R Type</label>
          <select class="form-control" name="rType" formControlName="rType" id="field_rType" data-cy="rType">
            <option [ngValue]="null">{{ 'testRoomApp.RoomType.null' | translate }}</option>
            <option *ngFor="let roomType of roomTypeValues" [value]="roomType">{{ 'testRoomApp.RoomType.' + roomType | translate }}</option>
          </select>
          <div *ngIf="editForm.get('rType')!.invalid && (editForm.get('rType')!.dirty || editForm.get('rType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('rType')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rAcreage" for="field_rAcreage">R Acreage</label>
          <input type="number" class="form-control" name="rAcreage" id="field_rAcreage" data-cy="rAcreage" formControlName="rAcreage" />
          <div *ngIf="editForm.get('rAcreage')!.invalid && (editForm.get('rAcreage')!.dirty || editForm.get('rAcreage')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rAcreage')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('rAcreage')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rSize" for="field_rSize">R Size</label>
          <select class="form-control" name="rSize" formControlName="rSize" id="field_rSize" data-cy="rSize">
            <option [ngValue]="null">{{ 'testRoomApp.RoomSize.null' | translate }}</option>
            <option *ngFor="let roomSize of roomSizeValues" [value]="roomSize">{{ 'testRoomApp.RoomSize.' + roomSize | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rImage" for="field_rImage">R Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('rImageContentType')!.value + ';base64,' + editForm.get('rImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('rImage')!.value"
              alt="room image"
            />
            <div *ngIf="editForm.get('rImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('rImageContentType')!.value }}, {{ byteSize(editForm.get('rImage')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('rImage', 'rImageContentType', 'file_rImage')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_rImage"
              data-cy="rImage"
              (change)="setFileData($event, 'rImage', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="rImage" id="field_rImage" data-cy="rImage" formControlName="rImage" />
          <input
            type="hidden"
            class="form-control"
            name="rImageContentType"
            id="field_rImageContentType"
            formControlName="rImageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.rPrice" for="field_rPrice">R Price</label>
          <input type="number" class="form-control" name="rPrice" id="field_rPrice" data-cy="rPrice" formControlName="rPrice" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.room.accommodation" for="field_accommodation">Accommodation</label>
          <select
            class="form-control"
            id="field_accommodation"
            data-cy="accommodation"
            name="accommodation"
            formControlName="accommodation"
          >
            <option *ngIf="!editForm.get('accommodation')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                accommodationOption.id === editForm.get('accommodation')!.value?.id
                  ? editForm.get('accommodation')!.value
                  : accommodationOption
              "
              *ngFor="let accommodationOption of accommodationsSharedCollection; trackBy: trackAccommodationById"
            >
              {{ accommodationOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['accommodation'])!.invalid && (editForm.get(['accommodation'])!.dirty || editForm.get(['accommodation'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['accommodation'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
