<div>
  <h2 id="page-heading" data-cy="NameHeading">
    <span>Names</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-name"
        [routerLink]="['/name/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Name </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="names?.length === 0">
    <span>No names found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="names && names.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Title</span></th>
          <th scope="col"><span>First Name</span></th>
          <th scope="col"><span>Middle Name</span></th>
          <th scope="col"><span>Last Name</span></th>
          <th scope="col"><span>Display Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let name of names; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/name', name.id, 'view']">{{ name.id }}</a>
          </td>
          <td>{{ name.title }}</td>
          <td>{{ name.firstName }}</td>
          <td>{{ name.middleName }}</td>
          <td>{{ name.lastName }}</td>
          <td>{{ name.displayName }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/name', name.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/name', name.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(name)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
