<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="testRoomApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.numberic" for="field_numberic">Numberic</label>
          <input type="text" class="form-control" name="numberic" id="field_numberic" data-cy="numberic" formControlName="numberic" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.street" for="field_street">Street</label>
          <input type="text" class="form-control" name="street" id="field_street" data-cy="street" formControlName="street" />
          <div *ngIf="editForm.get('street')!.invalid && (editForm.get('street')!.dirty || editForm.get('street')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('street')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.county" for="field_county">County</label>
          <input type="text" class="form-control" name="county" id="field_county" data-cy="county" formControlName="county" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.postcode" for="field_postcode">Postcode</label>
          <input type="text" class="form-control" name="postcode" id="field_postcode" data-cy="postcode" formControlName="postcode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testRoomApp.address.property" for="field_property">Property</label>
          <select class="form-control" id="field_property" data-cy="property" name="property" formControlName="property">
            <option *ngIf="editForm.get(['property'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="propertyOption.id === editForm.get('property')!.value?.id ? editForm.get('property')!.value : propertyOption"
              *ngFor="let propertyOption of propertiesCollection; trackBy: trackPropertyById"
            >
              {{ propertyOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['property'])!.invalid && (editForm.get(['property'])!.dirty || editForm.get(['property'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['property'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
